CLASSE DEDIEE FIGS	RYTHME	REPARTITION COURS/ENTREPRISE	DUREE DU STAGE	ONLINE/OFFLINE	CODE RNCP	DATE DE VALIDITE TITRE RNCP	TITRE/VISA/GRADE	CERTIFICATEUR	Rentrée administrative	Début des cours 	Retard autorisé jusqu'au	PRIX FIGS N	PRICE AFTER SCHOLARSHIP	PRIX N+1 (à titre indicatif)	COMMENTAIRES et/ou Profil Candidat	PRE-REQUIS POUR INTEGRER LA FORMATION
Non	Initial	4j de cours / semaine	14 semaines sur deux ans	OFFLINE	37890	31/08/2028	BTS - Tourisme	MESR	09/01/2026	09/01/2026	28/09/26	5 900 €	N/A	5 990 €	Exemple	Exemple prérequis
